/* RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cONFIGURAÇÃO DA FONTE */
:root {
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: #F9F4FB;
  max-width: 430px;
  margin: 0 auto;
  /*GPT - modificações
  max-width: 430px;  Definindo a largura máxima para toda a página 
  margin: 0 auto; /* Centralizando a página na tela */
}

/* CONFIGURAÇÃO DE POSICIONAMENTO */
header {
  height: 679px;
  text-align: center;
  display: table;
}

/* CONFIGURAÇÃO DA IMAGEM DO ASTRONAUTA */
.astronaut_img {
  width: 364px;
  height: auto;
  padding: 0px 33px;
}

/* CONFIGURAÇÃO DO TÍTULO */
h1 {
  padding-top: 16px;
  color: #B52184;
  font-size: 32px;
  font-weight: 900;
  line-height: normal;
}

/* CONFIGURAÇÃO DO PARÁGRAFO */
p {
  color: #312D64;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

/* CONFIGURAÇÃO DE POSICIONAMENTO DA SETA */
.downArrow {
  width: 60px;
  height: auto;
  margin: 36px 186px 94px 186px;
}

/* CONFIGURAÇÃO DA MAIN */
main {
  background-color: #343193;
  /* GPT - modificações 
  padding: 0 20px; /* Adicionando padding para espaçamento nas laterais */
}

/* CONFIGURAÇÃO DO CONTEÚDO DA MAIN*/
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 52px 40px 56px;
  /*GPT - modificações
  padding: 52px 0 56px; /* Ajustando o padding para tamanhos de tela menores */
  gap: 50px;
}

/* CONFIGURAÇÃO DOS CARDS */
.card {
  padding: 26px 60px 26px 26px;
  /*GPT - modificações
  padding: 26px;*/
  border-radius: 20px;
  background-color: #F9F4FB;
  width: 352px;
  /*GPT - modificações
  max-width: 352px; /* Largura máxima do card 
  margin: 0 auto;  Centralizando o card na página */

}

/* CONFIGURAÇÃO DAS IMAGENS | CARDS */
.card img {
  height:80px;
  width: 80px;
  margin: 0px 245px 33px 0px;
}

/* CONFIGURAÇÃO DOS TÍTULOS | CARDS */
.card h2 {
  font-weight: 900;
  font-size: 30px;
  color: #B52184;
  padding-bottom: 20px;
}

/* CONFIGURAÇÃO DOS PARAGRAFOS | CARDS */
.card p, 
.input-wrapper-name ::placeholder,
.input-wrapper-email ::placeholder,
.input-wrapper-textarea ::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #312D64;
}

/* CONFIGURAÇÃO DO FORMS */
fieldset {
  border: none;
  max-height: 565vh;
  padding: 78px 40px 65px 40px;
}

/* CONFIGURAÇÃO DO TÍTULO | FORMS */
.fieldset-wrapper {
  font-weight: 900;
  font-size: 30px;
  color: #B52184;
  margin-bottom: 43px;
}

input, textarea {
  all: unset;
}

/* CONFIGURAÇÃO DO INPUT-NAME | FORMS */
.input-wrapper-name {
  margin-bottom: 24px;

  height: 48px;
  width: 348px;

  border: 1px solid #312D64;
  border-radius: 16px;

  flex: 1;
  display: flex;
  
  padding: 12px 16px;
  gap: 12px;
}

.input-wrapper-email {
  height: 48px;
  width: 348px;

  border: 1px solid #312D64;
  border-radius: 16px;
  
  flex: 1;
  display: flex;

  padding: 12px 16px;
  gap: 12px;  
}

/* CONFIGURAÇÃO DO INPUT-TEXTAREA | FORMS */
.input-wrapper-textarea {
  margin-top: 24px;

  height: 126px;
  width: 348px;

  border: 1px solid #312D64;
  border-radius: 16px;

  flex: 1;
  display: flex;

  padding: 12px 16px;
  gap: 12px;
}

button {
  margin-top: 24px;
  background-color: #343193;
  color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  font-size: 14px;
  font-weight: 900;
  border: none;
}

footer P {
  height: 78px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #343193;
  text-align: center;
  padding: 32px 16px;
 
}

